<a href="https://colab.research.google.com/github/025-Shiva/UNP-Assignments/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [1]:
x=int(input("enter a number"))
if(x%7==0):
  print("It is divisible by 7")
else:
  print("It is not divisible by 7")

enter a number25
It is not divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [2]:
n=int(input("enter a number"))
if((n%5==0)or(n%7==0)):
  print("It is five-or-seven number")
else:
  print("It is not five-or-seven number")

enter a number10
It is five-or-seven number

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [3]:
Units=int(input("enter no.of units"))
if(Units<=100):
  Bill=Units*3
  print(Bill)
elif(Units<=200):
  Bill=Units*5
  print(Bill)
elif(Units<=500):
  Bill=Units*7
  print(Bill)
else:
  Bill=Units*10
  print(Bill)

enter no.of units500
3500

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [4]:
num=10
sum=0
for s in range(1,num+1):
  sum=sum+(s*s)
print("Sum of Squares is ",sum)

Sum of Squares is  385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [5]:
num=10
sum=0
for s in range(1,num+1):
  if(s%2==0):
    sum=sum+(s*s)
print("Sum of Squares of even no.s is ",sum)

Sum of Squares of even no.s is  220

**Problem-6**<br>
Check a number is prime or not

In [6]:
num=int(input("enter a number"))
if num>1:
  for i in range(2,int(num/2)+1):
    if(num%i==0):
      print(num,"is not a prime number")
      break
  else:
    print(num,"is a prime number")

enter a number25
25 is not a prime number

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [7]:
m=int(input("enter a number"))
i=1
while(i<=10):
  product=m*i
  print(m,'*',i,'=',product,'\n')
  i=i+1
print('\n')

enter a number5
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

5 * 10 = 50

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [8]:
f=int(input("enter a number"))
f1=0
f2=1
c=2
print(f1,f2)
while(c<=f):
  f3=f1+f2
  print(f3)
  f1=f2
  f2=f3
  c=c+1

enter a number15
0 1
1
2
3
5
8
13
21
34
55
89
144
233
377
610